{% extends "base_bootstrap.html" %}
{% load static %}

{% block head %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="d-flex flex-column col-8">
    {% for activity in activity_list %}
      <div class="d-flex flex-row p-2 justify-content-between align-items-center">
        <div class="p-2">{{ activity.name }}</div>
        <div class="p-2">
          <form action="{% url 'activity' %}" method="POST" class="mb-0">
	          <input type="hidden" name="pk" value="{{ activity.id }}">
	          <input type="hidden" name="intent" value="delete">
	          {% csrf_token %}
	          {{ form }}
	          <button type="submit" class="btn btn-outline-danger">Delete</button>
          </form>
        </div>
      </div>
    {% endfor %}
    <div class="d-flex flex-row p-2 justify-content-between align-items-center">
      <div class="p-2">
        <form class="form-inline" action="{%url 'activity'%}" method="post"> 
          {% csrf_token %}
          {{ form }}
          <div class="form-group mb-2">
            <input type="hidden" name="intent" value="create">
            <label for="inputPassword2" class="sr-only">Password</label>
            <input class="form-control" name="name" type="text" required placeholder="name of activity">
          </div>
          <button type="submit" class="btn btn-primary mb-2">submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
