<!doctype html>
<html lang="en">

{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> HB </title>
    <!-- include bootstrap -->
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    {% block head %}
    {% endblock %}
</head>


<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary mb-3">
        <a class="navbar-brand" href="{% url 'dashboard' %}">HB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="../model_selection/">Models</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Persons
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for temp_person in person_list %}
                            <a class="dropdown-item" href="../person/{{ temp_person.id }}">{{ temp_person.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        config
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../basic">basic</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../create_person">create persons</a>
                        <a class="dropdown-item" href="../activities">create activities</a>
                        <a class="dropdown-item" href="../map_editor">create locations</a>
                        <a class="dropdown-item" href="../assign_sensors">assign devices</a>
                        <a class="dropdown-item" href="../assign_activities_to_locations">assign activities</a>
                        <a class="dropdown-item" href="../algorithms/">generate models</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
<script src="{% static 'jquery-3.2.1.slim.min.js' %}"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
{% block content %}

{% endblock %}
</body>
